html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Avenir', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
  color:#808080;
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #eee;
  border-color: #eee;
}
span.red_dot{ 
  color: red; 
}
img{
  max-width:100%;
}

/* navbar */
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Avenir', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  margin:0 auto;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Avenir', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
  height: 50px; 
  padding: 3px 10px;
}
.navbar-default .navbar-header .navbar-brand img{ max-height: 100%; float: left; }
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
  padding-top: 15px;
  margin: 0 30px;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    padding-top: 23px;
    height: 100px;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    padding-top: 35px;
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default img.logo_red, .navbar-default.affix img.logo{
    display: none;
  }
  .navbar-default.affix img.logo_red{
    display: block;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    padding: 0px 15px;
    height: 87px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
@media( max-width: 768px){
  .navbar-default img.logo{
    display: none;
  }
}
@media( max-width: 992px){
  .navbar-default .nav > li > a{
    margin: 0 20px;
  }
}
/* -- navbar -- */

/* header */
header {
  position: relative;
  width: 100%;
  min-height: auto;
  /*overflow-y: hidden;*/
  background: #1C2A35;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000, #FF5B5b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #000, #FF5B5b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
header .header-content {
  text-align: center;
  padding: 80px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}
header .header-content .header-content-inner h2 {
  font-size: 28px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  /*max-width: 300px;*/
  margin: 0 auto;
}

header .header-content .header-content-inner .its_free{ 
  margin-top: 30px; 
}
header .header-content .header-content-inner .its_free .btn{ 
  padding: 13px 35px;
  text-transform: none;
  background-color: white;
  color: #e73332;
  border: 0;
  font-size: 22px;
  font-weight: 300;
}
.its_free .btn:hover,
.its_free .btn:focus,
.its_free .btn:active,
.its_free .btn.active {
  color: #e69898;
  background-color: #eee;
  border-color: #eee;
}

@media (min-width: 768px) {
  header {
    padding-top: 200px;
  }
  header .header-content {
    text-align: left;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
  }

  header .header-content .header-content-inner h1 {
    font-size: 65px;
  }
  header .header-content .header-content-inner h2 {
    font-size: 28px;
  }

  header .device-container {
    max-width: none;
  }
  header .header-content .header-content-inner .its_free{ 
    margin-top: 60px; 
  }
}
@media ( min-width: 768px ) and (max-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 40px;
  }
  header .header-content .header-content-inner h2 {
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}
/* -- header -- */
section {
  padding: 100px 0;
}
section h2 {
  font-size: 60px;
  font-family: 'Lato';
  color: #363636;
}

/* download */
section.download{
  border-top: 1px solid #e0e0e0;
  margin-top: 2px;
  border-bottom: 1px solid #e0e0e0;
}
section.download .testimonial {
  margin-bottom: 50px;
}
section.download p {
  margin-top: 40px;
  font-size: 18px;
}
section.download .badges .badge-link {
  display: block;
  margin: 60px 30px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
  section.download h2 {
    font-size: 70px;
  }
  section.contact{
    padding-bottom: 200px;
  }
}
/* -- download -- */
section.features{
  position: relative;
  padding: 50px 0 100px;
}
section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}

header .container, section.features .container{ z-index:500; position:relative;}
section.features{
  background: white;
  z-index: 150;
  position: relative;
}
section#features:before {
  margin-top:-10%;
  top:0;
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3.5deg);
  transform-origin: 100%;
  z-index: 15;
}

section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.features .row{
  margin-bottom: 100px;
}
section.features .row .title{
  font-size: 50px;
  font-weight: bold;
  padding: 50px 0;
  font-family: 'Lato';
  font-weight: 700;
  color: black;
}
section.features .row .contents a{
  font-style: italic;
  color: black;
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 768px){
  section.features .row .title{
    margin-top: 150px;
    font-size: 60px;
  }
}
@media (max-width: 768px){
  section#features:before {
    margin-top: -30%;
  }
  section.features .row .title{
    font-size: 40px;
    padding: 30px 0;
  }
}
/* -- features -- */

/* contact block */ 
section.contact {
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Lato';
  font-weight: bold;
}
section.contact h3{
  font-size: 18px;
  color: #808080;
  margin-top: 0;
  letter-spacing: 0.1px;
  line-height: 32px;
}

section.contact ul.list-member {
  margin-top: 80px;
}
section.contact ul.list-member .wrapper{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 30px;
}
section.contact ul.list-member .active .wrapper{
  margin-top: 0px;
}
section.contact ul.list-member .active .arrow{ 
  border-top: 15px solid white;
}

section.contact ul.list-member .description{
  border: 1px solid #e0e0e0;
  padding: 30px;
  text-align: left;
}
section.contact ul.list-member .active .description{
  border-width: 0;
  box-shadow: 2px 20px 20px 11px rgba(220, 220, 220, 0.5)
}

section.contact ul.list-member .arrow{ 
  margin-left: 7%;
  margin-top: -1px;
  width: 0;
  height: 0;
  border-top: 15px solid #e0e0e0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
}
section.contact ul.list-member .arrow div{
  position: relative;
  top: -15px;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 13px solid white;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent; 
}
section.contact ul.list-member .description a{
  color: red;
  font-weight: bold;
}
section.contact ul.list-member .active .profile{
  margin-top: 52px;
}
section.contact ul.list-member .profile{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;  
  margin-top: 20px;
  text-align: left;
}
section.contact ul.list-member .profile .member_avatar{
  float: left;
}
section.contact ul.list-member .profile .member_avatar img{
  border-radius:50%;
  width:60px; height:60px;
}
section.contact ul.list-member .profile .member_name{
  color: #363636;
  font-size: 18px;
  margin-left: 80px;
}
section.contact ul.list-member .profile .role{
  color: #667386;
  font-size: 16px;
  margin-left: 80px;
  text-transform: uppercase;
}
/* -- contact -- */

/* footer */
footer {
  text-transform: uppercase;
}
footer .copyright {
  color: #adadad;
  opacity: 0.9;
  right: 60px;
}
footer ul {
  padding: 35px 20px 25px;
  width: 80%;
  padding-left: 20px !important;
}
footer ul li a {
  font-size: 18px;
  color: #363636;
  opacity: 0.9;
  padding: 40px;
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
#mainNav .container, footer .container{
  width: 100%;
}
@media (min-width: 1200px){
  .container{ 
    width: 1200px; 
  }
  #mainNav .container, footer .container{
    max-width:1400px;
  }
  footer ul li a {
    padding: 30px;
  }
}

@media (min-width: 768px){
  .spotify_img{ 
    margin-left: 60px; 
    margin-top: 40px;
  }
  footer .copyright{
    padding-top: 17px;
    margin-right: 30px;
  }
  footer .copyright span{
    float: left;
  } 
  footer .copyright img{
    margin-top: 10px;
    margin-right: 20px;
  }
  footer .copyright span{
    line-height: 30px;
  }
  footer ul{
    width: 65%;
  }
  footer ul li a {
    font-size:14px;
    padding: 5px;
  }
}

@media (max-width: 768px){
  footer .copyright{
    text-align: center;
  }
  footer .copyright br{
    display: none;
  }
  footer ul, footer .copyright{
    width: 100%;
    padding: 0;
  }
  footer ul li{
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  footer ul li a {
    padding: 20px;
  }
  footer ul {
    width: 70%;
  }
  footer .copyright{
    padding-top: 17px;
    margin-right: 60px;
  }
}
/* -- footer -- */

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

#hostpage .navbar-default .navbar_title{
  color: white;
  font-size: 30px;
  line-height: 87px;
  margin-left: 15px;
}
#hostpage .navbar-default.affix .navbar_title{
  color: black;
}
@media (max-width: 992px) {
  #hostpage .navbar-default .navbar_title{
    display: none;
  }
}
/* Host Page */
#hostpage p{
  font-size: 18px;
  line-height:30px;
}
#hostpage ul{
  list-style: none;
  padding-left: 0;
}
#hostpage header{
  background: -webkit-linear-gradient(to top, #FF5B5b, #192934);
  background: linear-gradient(to top, #FF5B5b, #192934);
}
#hostpage header .header-content{ 
  text-align: center; 
}
#hostpage header .header-content .header-content-inner .its_free .btn{
  color: white;
  background: #fe6262;
}
#hostpage header .header-content .header-content-inner h2 {
  color: #8492af;
  font-size: 36px;
  line-height: 42px;
}
header .device-container img{
  margin :100px auto 0;
}
#hostpage section#features:before{
  margin-top: -15%;
  height:120%;
  transform: none;
}
#hostpage section.features .row .col-md-4{
  text-align: center;
  padding: 50px 0 0;
}
#hostpage section.features .row h4{
  font-size: 24px;
  line-height: 40px;
  margin-top: 50px;
  color: #263a47;
}
#hostpage section.features .row p{
  color: #8492af;
}
#hostpage section.features .row .title{
  margin-top: 0;
}
#hostpage section.features ul.check_list{
  color: #5584ff;
  font-size:22px;
  padding: 30px 0;
  line-height: 32px;
}
#hostpage section.features ul.check_list li{
  background: url('../img/check_icon.png') no-repeat;
  padding-left: 42px;
  margin: 30px 0;
}
#hostpage section.features .device_image
{
  position: absolute;
  right: 0;
  padding-right: 0;
}

#hostpage #featured_slider{
  background: #263A47;
}